<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsritter.treffen.mapper.TbMenuItemMapper">
  <resultMap id="BaseResultMap" type="com.alsritter.treffen.entity.TbMenuItem">
    <id column="item_id" jdbcType="INTEGER" property="itemId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="item_desc" jdbcType="VARCHAR" property="itemDesc" />
    <result column="item_path" jdbcType="VARCHAR" property="itemPath" />
    <result column="item_group" jdbcType="INTEGER" property="itemGroup" />
  </resultMap>
  <sql id="Base_Column_List">
    item_id, item_name, is_deleted, item_desc, item_path, item_group
  </sql>
    <select id="getMenuItemByRoleId" resultType="com.alsritter.treffen.entity.TbMenuItem">
      select *
      from tb_menu_item
      where item_id in (
        select item_id
        from tb_role_resource_list
        where role_id = #{roleId}
      )
    </select>
  <select id="getMenuItemByRoleName" resultType="com.alsritter.treffen.entity.TbMenuItem">
    select *
    from tb_menu_item
    where item_id in (
      select item_id
      from tb_roles r
             join tb_role_resource_list rr on r.role_id = rr.role_id
      where role_name = #{roleName}
    )
  </select>
</mapper>