<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsritter.treffen.mapper.TbMeetingMapper">
  <resultMap id="BaseResultMap" type="com.alsritter.treffen.entity.TbMeeting">
    <id column="meeting_id" jdbcType="INTEGER" property="meetingId" />
    <result column="host_id" jdbcType="INTEGER" property="hostId" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="record_desc" jdbcType="VARCHAR" property="recordDesc" />
    <result column="record_type" jdbcType="VARCHAR" property="recordType" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    meeting_id, host_id, start_time, end_time, record_desc, record_type, is_deleted
  </sql>
</mapper>