<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsritter.treffen.mapper.TbTasksMapper">
  <resultMap id="BaseResultMap" type="com.alsritter.treffen.entity.TbTasks">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="attendee" jdbcType="VARCHAR" property="attendee" />
    <result column="is_dept" jdbcType="INTEGER" property="isDept" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_end" jdbcType="INTEGER" property="isEnd" />
    <result column="host_id" jdbcType="INTEGER" property="hostId" />
    <result column="is_deleted" jdbcType="INTEGER" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, task_desc, attendee, is_dept, create_time, is_end, host_id, is_deleted
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_tasks
    where task_id = #{taskId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_tasks
    where task_id = #{taskId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="task_id" keyProperty="taskId" parameterType="com.alsritter.treffen.entity.TbTasks" useGeneratedKeys="true">
    insert into tb_tasks (task_desc, attendee, is_dept, 
      create_time, is_end, host_id, 
      is_deleted)
    values (#{taskDesc,jdbcType=VARCHAR}, #{attendee,jdbcType=VARCHAR}, #{isDept,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{isEnd,jdbcType=INTEGER}, #{hostId,jdbcType=INTEGER}, 
      #{isDeleted,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" keyColumn="task_id" keyProperty="taskId" parameterType="com.alsritter.treffen.entity.TbTasks" useGeneratedKeys="true">
    insert into tb_tasks
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="taskDesc != null">
        task_desc,
      </if>
      <if test="attendee != null">
        attendee,
      </if>
      <if test="isDept != null">
        is_dept,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isEnd != null">
        is_end,
      </if>
      <if test="hostId != null">
        host_id,
      </if>
      <if test="isDeleted != null">
        is_deleted,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="taskDesc != null">
        #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="attendee != null">
        #{attendee,jdbcType=VARCHAR},
      </if>
      <if test="isDept != null">
        #{isDept,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnd != null">
        #{isEnd,jdbcType=INTEGER},
      </if>
      <if test="hostId != null">
        #{hostId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        #{isDeleted,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.alsritter.treffen.entity.TbTasks">
    update tb_tasks
    <set>
      <if test="taskDesc != null">
        task_desc = #{taskDesc,jdbcType=VARCHAR},
      </if>
      <if test="attendee != null">
        attendee = #{attendee,jdbcType=VARCHAR},
      </if>
      <if test="isDept != null">
        is_dept = #{isDept,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isEnd != null">
        is_end = #{isEnd,jdbcType=INTEGER},
      </if>
      <if test="hostId != null">
        host_id = #{hostId,jdbcType=INTEGER},
      </if>
      <if test="isDeleted != null">
        is_deleted = #{isDeleted,jdbcType=INTEGER},
      </if>
    </set>
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.alsritter.treffen.entity.TbTasks">
    update tb_tasks
    set task_desc = #{taskDesc,jdbcType=VARCHAR},
      attendee = #{attendee,jdbcType=VARCHAR},
      is_dept = #{isDept,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_end = #{isEnd,jdbcType=INTEGER},
      host_id = #{hostId,jdbcType=INTEGER},
      is_deleted = #{isDeleted,jdbcType=INTEGER}
    where task_id = #{taskId,jdbcType=INTEGER}
  </update>
</mapper>