<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsritter.treffen.mapper.TbTagsMapper">
  <resultMap id="BaseResultMap" type="com.alsritter.treffen.entity.TbTags">
    <id column="tag_id" jdbcType="INTEGER" property="tagId" />
    <result column="tag_create_time" jdbcType="TIMESTAMP" property="tagCreateTime" />
    <result column="tag_desc" jdbcType="VARCHAR" property="tagDesc" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
  </resultMap>
  <sql id="Base_Column_List">
    tag_id, tag_create_time, tag_desc, is_deleted, user_id
  </sql>
</mapper>