<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsritter.treffen.mapper.TbTasksMapper">
  <resultMap id="BaseResultMap" type="com.alsritter.treffen.entity.TbTasks">
    <id column="task_id" jdbcType="INTEGER" property="taskId" />
    <result column="task_desc" jdbcType="VARCHAR" property="taskDesc" />
    <result column="attendee" jdbcType="VARCHAR" property="attendee" />
    <result column="is_dept" jdbcType="INTEGER" property="isDept" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_end" jdbcType="INTEGER" property="isEnd" />
    <result column="host_id" jdbcType="INTEGER" property="hostId" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
  </resultMap>
  <sql id="Base_Column_List">
    task_id, task_desc, attendee, is_dept, create_time, is_end, host_id, is_deleted
  </sql>
</mapper>