<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alsritter.treffen.mapper.TbUserMapper">
  <resultMap id="BaseResultMap" type="com.alsritter.treffen.entity.TbUser">
    <id column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="user_password" jdbcType="VARCHAR" property="userPassword" />
    <result column="mgr_id" jdbcType="INTEGER" property="mgrId" />
    <result column="true_name" jdbcType="VARCHAR" property="trueName" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="hire_date" jdbcType="DATE" property="hireDate" />
    <result column="sal" jdbcType="DECIMAL" property="sal" />
    <result column="comm" jdbcType="DECIMAL" property="comm" />
    <result column="job" jdbcType="VARCHAR" property="job" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="phone" jdbcType="CHAR" property="phone" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="last_ip" jdbcType="VARCHAR" property="lastIp" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="is_deleted" jdbcType="TINYINT" property="isDeleted" />
    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, user_name, user_password, mgr_id, true_name, sex, hire_date, sal, comm, 
    job, birthday, phone, photo, email, last_ip, last_time, is_deleted, dept_id
  </sql>

  <select id="selectByUserNameTbUser" resultType="com.alsritter.treffen.entity.TbUser">
    select
    <include refid="Base_Column_List" />
    from tb_user
    where user_name = #{username,jdbcType=VARCHAR}
  </select>
</mapper>